# Ignore Python bytecode files
__pycache__/
FitOn/__pycache__/

# Ignore virtual environment
venv/

# Ignore other typical Python files
*.py[cod]
*.pyo
*.pyd

# Ignore any environment variable files (if needed)
.env

# Ignore db.sqlite3 file
db.sqlite3

# Ignore .DS_Store folder/file
.DS_Store
FitOn/.DS_Store

# Ignore .ebextensions
.ebextensions/
