# Ignore Python bytecode files
__pycache__/
FitOn/__pycache__/

# Ignore virtual environment
venv/

# Ignore other typical Python files
*.py[cod]
*.pyo
*.pyd

# Ignore any environment variable files (if needed)
.env
__pycache__/
