# Ignore Python bytecode files
__pycache__/
FitOn/__pycache__/

# Ignore virtual environment
venv/*

# Ignore credentials file
credentials.json

# Ignore other typical Python files
*.py[cod]
*.pyo
*.pyd

# Ignore any environment variable files (if needed)
.env

# README
README.md

# Ignore db.sqlite3 file
# db.sqlite3

# Ignore .DS_Store folder/file
.DS_Store
FitOn/.DS_Store

# Ignore Credentials.json file
FitOn/credentials.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
