awscli
asgiref
boto3
botocore
black
coverage
coveralls
Django
django-dynamodb-sessions
django-storages
flake8
jmespath
python-dateutil
PyYAML
s3transfer
six
sqlparse
tzdata
urllib3
httplib2
google-api-core
google-api-python-client
google-auth
# google-auth==2.28.2
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
django-dynamodb-sessions
moto
channels
channels-redis