aiomysql
asgiref
awscli
black
boto
boto3
botocore
coverage
coveralls
cachetools
certifi
charset-normalizer
click
Django
django-dynamodb-sessions
django-storages
flake8
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
ipykernel
jmespath
moto
mypy-extensions
numpy
oauthlib
packaging
pandas
pathspec
pkgconfig
platformdirs
protobuf
pyasn1
pyasn1_modules
PyMySQL
pyYAML
pyparsing
python-dateutil
pytz
pytest
requests
requests-oauthlib
rsa
s3transfer
sagemaker
scikit-learn
six
sqlparse
tzdata
uritemplate
urllib3
daphne
channels
channels-redis
Pillow