aiomysql
asgiref
black
boto
boto3
botocore
cachetools
certifi
charset-normalizer
click
Django
django-dynamodb-sessions
django-storages
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
jmespath
mypy-extensions
mysql
mysql-connector-python
numpy
oauthlib
packaging
pandas
pathspec
pkgconfig
platformdirs
protobuf
pyasn1
pyasn1_modules
PyMySQL
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
s3transfer
six
sqlparse
tzdata
uritemplate
urllib3
