{% extends 'base.html' %}

{% block content %}
    <!-- Table for Applications -->
    <div class="table-container">
        <h2 class="page-title">Fitness Trainer Applications</h2>
        <div id="notification" class="notification" style="display:none;"></div>
        <table class="applications-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Past Experience as Trainer</th>
                    <th>Past Experience as Dietician</th>
                    <th>Reference</th>
                    <th>Resume</th>
                    <th>Certifications</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                    <tr>
                        <td>{{ application.username }}</td>
                        <td>{{ application.past_experience_trainer }}</td>
                        <td>{{ application.past_experience_dietician }}</td>
                        <td>{{ application.reference_name }} <br/> <a href="">{{ application.reference_contact }}</a></td>
                        <td><a href="{{ application.resume_url }}" class="file-link" target="_blank">View Resume</a></td>
                        <td>
                            {% if application.certifications_url %}
                                <a href="{{ application.certifications_url }}" class="file-link" target="_blank">View Certifications</a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            <button class="submit-button" data-username="{{ application.username }}">Approve</button>
                            <button class="deactivate-button" data-username="{{ application.username }}">Reject</button>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="no-applications">No applications found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const approveButtons = document.querySelectorAll('.submit-button');
            const rejectButtons = document.querySelectorAll('.deactivate-button');
            const notification = document.getElementById('notification');

            const showNotification = (message) => {
                notification.textContent = message;
                notification.classList.add('show');
                notification.style.display = 'block';
                setTimeout(() => {
                    notification.classList.remove('show');
                    notification.style.display = 'none';
                }, 3000);
            };

            approveButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const username = this.dataset.username;
                    const row = this.closest('tr');

                    fetch('/approve_fitness_trainer/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json',
                            'x-requested-with': 'XMLHttpRequest'
                        },
                        body: JSON.stringify({ 'username': username })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            row.remove();
                            showNotification('Success: The application has been APPROVED and removed from the list');
                        } else {
                            alert('Error: ' + data.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            });

            rejectButtons.forEach(button => {
                button.addEventListener('click', function(event) {
                    event.preventDefault();
                    const username = this.dataset.username;

                    fetch('/reject_fitness_trainer/', {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json',
                            'x-requested-with': 'XMLHttpRequest'
                        },
                        body: JSON.stringify({ 'username': username })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            row.remove();
                            showNotification('Success: The application has been REJECTED and removed from the list');
                        } else {
                            alert('Error: ' + data.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
                });
            });
        });
    </script>
{% endblock %}
