{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="profile-container">

        <!-- Success/Error Messages -->
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}

        <!-- Profile Header -->
        <div class="profile-header">
            <!-- Profile Picture and Username -->
            <div class="profile-picture">
                <div class="profile-picture-container" id="profile-picture">
                    {% load static %}
                    <img src="{% static 'images/' %}{{ user.user_id }}_profile.jpg" alt="Profile Picture" 
                        onerror="this.onerror=null; this.src=`{% static 'images/default-profile.png' %}`">                        
                    <input type="file" id="file-input" style="display: none;">
                    <div class="edit-icon">
                        <i class="fa fa-pencil-alt"></i>
                    </div>
                </div>             

                {% if user %}
                    <h1>{{ user.username }}</h1>
                {% else %}
                    <h1>Guest</h1>
                {% endif %}
            </div>
        </div>

        <!-- Form Section -->
        <div class="form-container">
            <form method="post">
                {% csrf_token %}

                <!-- Name -->
                <div class="form-group">
                    <label for="name">Name</label>
                    {{ form.name }}
                    {% if form.name.errors %}
                        <span class="error">{{ form.name.errors }}</span>
                    {% endif %}
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                
                <!-- Gender and Date of Birth -->
                <div class="form-group">
                    <div class="gender-dob-container">
                        <div class="gender-container">
                            <label for="gender">Gender</label>
                            {{ form.gender }}  <!-- Gender field -->
                        </div>
                        <div class="dob-container">
                            <label for="date_of_birth">Date of Birth</label>
                            {{ form.date_of_birth }}  <!-- Date of Birth field -->
                        </div>
                    </div>
                    {% if form.gender.errors %}
                        <span class="error">{{ form.gender.errors }}</span>
                    {% endif %}
                    {% if form.date_of_birth.errors %}
                        <span class="error">{{ form.date_of_birth.errors }}</span>
                    {% endif %}
                </div>

                <!-- Phone Number with Country Code -->
                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    <div class="phone-number-container">
                        <div class="country-code-container">
                            {{ form.country_code }}  <!-- Country code field -->
                        </div>
                        <div class="phone-number-input-container">
                            {{ form.phone_number }}  <!-- Phone number field -->
                        </div>
                    </div>
                    {% if form.phone_number.errors %}
                        <span class="error">{{ form.phone_number.errors }}</span>
                    {% endif %}
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label for="address">Address</label>
                    {{ form.address }}
                    {% if form.address.errors %}
                        <span class="error">{{ form.address.errors }}</span>
                    {% endif %}
                </div>

                <!-- Bio -->
                <div class="form-group">
                    <label for="bio">Bio</label>
                    {{ form.bio }}
                    {% if form.bio.errors %}
                        <span class="error">{{ form.bio.errors }}</span>
                    {% endif %}
                </div>
                
                <!-- Submit and Deactivate Buttons -->
                <div class="button-container">
                    <button type="submit" class="submit-button">
                        Update Profile
                    </button>
                </div>
                <div class="button-container">
                    <button type="button" class="submit-button" onclick="redirectToGoogleAuth()">
                        Sign In using Google
                    </button>
                </div>
                <div class="button-container">
                    <button type="button" class="deactivate-button" onclick="redirectToGoogleDelink()">
                        Delink Google Account
                    </button>
                </div>
                
                
            </form>
        </div>


        <div class="button-container">

            {% if user.is_admin %}
                <button type="button" class="submit-button" onclick="redirectToFitnessTrainerApplicationsList()">Review Fitness Trainer Applications</button>
            {% elif not user.is_fitness_trainer %}
                <button type="button" class="submit-button" onclick="redirectToFitnessTrainerApplication()">Become a Fitness Trainer</button>
            {% endif %}
        
            <!-- Button to trigger the modal -->
            {% if not user.is_admin %}
                <button id="deactivateBtn" class="deactivate-button" type="button">Deactivate Account</button>
            {% endif %}

            <!-- Confirmation Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <h3>Are you sure you want to deactivate your account?</h3>
                    <p>This action cannot be undone.</p>

                    <!-- Confirm and Cancel buttons inside the modal -->
                    <form method="POST" action="{% url 'confirm_deactivation' %}">
                        {% csrf_token %}
                        <button type="submit" class="button-confirm">Yes, Deactivate</button>
                    </form>
                    <button id="cancelBtn" class="button-cancel">Cancel</button>
                </div>
            </div>

            <!-- Success Modal -->
            <div id="successModal" class="modal">
                <div class="modal-content">
                    <h3>Your account has been successfully deactivated.</h3>
                    <button id="okBtn" class="button-ok-btn">OK</button>
                </div>
            </div>

            <!-- Check if the deactivation was successful and display the success modal if true -->
            <input type="hidden" id="deactivationSuccess" value="{{ deactivation_success }}">
        </div>
    </div>

    <script>
        
        function getCSRFToken() {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, 10) === 'csrftoken=') {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Function to redirect to the fitness trainer application view
        function redirectToFitnessTrainerApplication() {
            window.location.href = "{% url 'fitness_trainer_application_view' %}";
        }

        // Function to redirect admin to the fitness trainer applications list view
        function redirectToFitnessTrainerApplicationsList() {
            window.location.href = "{% url 'fitness_trainer_applications_list' %}";
        }

        // Event listener to trigger file upload when profile picture is clicked
        document.addEventListener('DOMContentLoaded', function () {
            const profilePictureContainer = document.getElementById('profile-picture');
            const fileInput = document.getElementById('file-input');

            profilePictureContainer.addEventListener('click', function () {
                fileInput.click();  // Trigger file input dialog on click
            });

            fileInput.addEventListener('change', function () {
                const formData = new FormData();
                formData.append('profile_picture', fileInput.files[0]);

                // Make an AJAX request to upload the profile picture
                fetch('/upload_profile_picture/', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': getCSRFToken()  // Pass CSRF token for security
                    }
                }).then(response => {
                    return response.json();
                }).then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert('Failed to upload image.');
                    }
                }).catch(error => {
                    console.error('Error uploading image:', error);
                });
            });
        });

        

        // Get the modal elements
        var modal = document.getElementById("myModal");
        var successModal = document.getElementById("successModal");
        var btn = document.getElementById("deactivateBtn");
        var cancelBtn = document.getElementById("cancelBtn");
        var okBtn = document.getElementById("okBtn");

        // Show confirmation modal when the "Deactivate Account" button is clicked
        btn.onclick = function() {
            modal.style.display = "block";
        }

        // Close confirmation modal when "Cancel" is clicked
        cancelBtn.onclick = function() {
            modal.style.display = "none";
        }

        // If the user clicks anywhere outside the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        // Check if the account was successfully deactivated and show success modal
        var deactivationSuccess = document.getElementById("deactivationSuccess").value;
        if (deactivationSuccess === "True") {
            successModal.style.display = "block";
        }

        // When "OK" is clicked in the success modal, redirect to the homepage
        okBtn.onclick = function() {
            window.location.href = "{% url 'homepage' %}";
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const loginSuccess = "{{ login_success|default:'false' }}" === "True";
            if (loginSuccess) {
                const signInButton = document.querySelector('.submit-button[onclick*="redirectToGoogleAuth"]');
                if (signInButton) {
                    signInButton.classList.add('success');
                }
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            const delinkSuccess = "{{ delink_success|default:'false' }}" === "True";
            if (delinkSuccess) {
                const delinkGoogleButton = document.querySelector('.deactivate-button[onclick*="redirectToGoogleDelink"]');
                if (delinkGoogleButton) {
                    delinkGoogleButton.classList.add('success');
                }
            }
        });

        function redirectToGoogleAuth() {
            window.location.href = "{% url 'authorize_google_fit' %}";
        }

        function redirectToGoogleDelink() {
            window.location.href = "{% url 'delink_google_fit' %}";
        }
    </script>

{% endblock %}
