{% extends 'base.html' %}

{% block title %}Standard Users List{% endblock %}

{% block content %}
    <div id="notification" class="notification table-container" style="display:none;"></div>
    {% if my_users %}
        <div class="table-container">
            <h2 class="page-title">My Users</h2>
            <table class="trainers-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age Group</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in my_users %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.age }}</td>
                            <td>
                                <div class="button-container" style="margin-top: 0px;">
                                    <button class="submit-button view-data-button" data-userId="{{ user.user_id }}">View Data</button>
                                    <button class="submit-button">Chat</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if users_in_waiting_list %}
        <div class="table-container">
            <h2 class="page-title">Users in Waiting List</h2>
            <table class="trainers-table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age Group</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users_in_waiting_list %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.age }}</td>
                            <td>
                                <div class="button-container" style="margin-top: 0px;">
                                    <button class="deactivate-button cancel-request-button" data-userId="{{ user.user_id }}">Cancel Request</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="table-container">
        <h2 class="page-title">All Standard Users</h2>
        <table class="trainers-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Age Group</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in remaining_users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.age }}</td>
                        <td>
                            <div class="button-container" style="margin-top: 0px;">
                                <button class="submit-button request-button" data-userId="{{ user.user_id }}">Request Data</button>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="no-trainers">No standard users found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const notification = document.getElementById('notification');

            const storedMessage = localStorage.getItem("notificationMessage");
            if (storedMessage) {
                notification.textContent = storedMessage;
                notification.classList.add('show');
                notification.style.display = 'block';
                setTimeout(() => {
                    notification.classList.remove('show');
                    notification.style.display = 'none';
                    localStorage.removeItem("notificationMessage");
                }, 3000);
            }

            const showNotificationAndReload = (message) => {
                localStorage.setItem("notificationMessage", message);
                location.reload();
            };

            // Handle "View Data" button click
            document.querySelectorAll(".view-data-button").forEach(function(button) {
                button.addEventListener("click", function(event) {
                    const userId = event.target.getAttribute("data-userId");
                    const url = "{% url 'async_view_user_data' user_id='__user_id__' %}".replace('__user_id__', userId);
                    
                    // Fetch the user data using the user_id
                    fetch(url, {
                        method: 'GET',  // GET request since we're just viewing the data
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        console.log(response); 
                        if (response.ok) {
                            const renderUrl = "{% url 'view_user_data' user_id='__user_id__' %}".replace('__user_id__', userId);
                            window.location.href = renderUrl;
                            showNotificationAndReload("An unexpected error occurred. Please try again later.");
                        } else {
                            console.error("My Data Error:", data.error);
                            console.log(data)
                            showNotificationAndReload("An unexpected error occurred. Please try again later.");
                            return;
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        showNotificationAndReload("An unexpected error occurred. Please try again later.");
                    });
                });
            });

            // Handle "Request Data" and "Cancel Request" button actions
            document.querySelectorAll(".request-button, .cancel-request-button").forEach(function(button) {
                button.addEventListener("click", function(event) {
                    const userId = event.target.getAttribute("data-userId");
                    const url = event.target.classList.contains("request-button") ? 
                        "{% url 'send_data_request' %}" : 
                        "{% url 'cancel_data_request' %}";
                    const action = event.target.classList.contains("request-button") ? "Request Data" : "Cancel Request";

                    fetch(url, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ user_id: userId })
                    })
                    .then(response => {
                        console.log(response); 
                        if (response.ok) {
                            showNotificationAndReload(`Request ${event.target.classList.contains("request-button") ? 'sent' : 'cancelled'} successfully!`);
                        } else {
                            showNotificationAndReload(`Failed to ${action.toLowerCase()}`);
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        showNotificationAndReload("An unexpected error occurred. Please try again later.");
                    });
                });
            });
        });
    </script>
{% endblock %}


