{% extends 'base.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Custom Workout Plan</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/exerciseListStyle.css' %}">

    <div class="container-fluid mx-0">
        <div class="row">
            <div class="col-9 px-0">
                <div class="search-and-filter py-4 mt-0">
                    <div class="filter-left-column container mx-0 mr-5">
                        <div class="row">
                            <p class="display-4">YOUR CUSTOM WORKOUT PLAN</p>
                        </div>
                    </div>
                </div>

                <div id="display_ex_container" class="container-fluid">
                    {% for exercise, img in custom_plan_exercises %}
                        {% if forloop.first or forloop.index0|divisibleby:2 %}
                            <div class="exercise-card-row">
                        {% endif %}

                        <div class="exercise-card mx-2 recommended">
                            <div class="p-1" style="display: flex; flex-direction: column;">
                                <img src="{{ img.url_0 }}" alt="{{ exercise.name }}">
                                <img class="mt-1" src="{{ img.url_1 }}" alt="{{ exercise.name }}">
                            </div>
                            <div class="exercise-details ml-3 row">
                                <h3 class="mb-4 container-fluid my-0" style="padding-right: 120px;"><strong>{{ exercise.name }}</strong></h3>
                                <div class="col-6">
                                    <p><strong>Level:</strong> {{ exercise.level }}</p>
                                    <p><strong>Equipment:</strong> {{ exercise.equipment }}</p>
                                    <p><strong>Primary Muscles:</strong> 
                                        {% for muscle in exercise.primaryMuscles.all %}
                                            {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p><strong>Secondary Muscles:</strong> 
                                        {% for muscle in exercise.secondaryMuscles.all %}
                                            {{ muscle.name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>

                        {% if forloop.last or forloop.index0|add:1|divisibleby:2 %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
